:root {
  --dark: #000000;
  --normal: #080808;
  --light: #101010;
  --border: 1px solid #2f3336;
  --color: #c0c2c3;
}

* {
  transition: background 0.2s ease;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark);
  display: flex;
  color: white;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loadingScreen img {
  height: 150px;
  width: auto;
}

body.no-scroll {
  overflow: hidden;
}

#log {
  color: grey;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
  line-height: 1.5;
  overflow-x: hidden;
  background: var(--dark);
  color: var(--color);
}

.container {
  max-width: 555px;
  margin: auto;
  position: relative;
  color: var(--color);
}

@media (max-width: 700px) {
  .smallbar {
    width: 100vw;
    position: fixed;
    background: var(--dark);
    left: 0;
    right: 0;
    bottom: 0;
    height: 52px;
    border-top: var(--border);
    display: flex;
    justify-content: space-evenly;
  }

  .smallbar img {
    width: 25px;
    height: auto;
  }

  .comment-box,
  .user-box {
    padding: 15px !important;
  }

  .user-box {
    max-width: 90vw !important;
  }

  .container {
    padding: 0;
  }

  .container {
    border: none;
  }

  .comment-box {
    height: 100vh;
  }

  body {
    padding: 0;
  }

  .tweet {
    border: none !important;
    border-bottom: var(--border) !important;
  }

  .tweet:last-child {
    border: none;
  }

  .retweet {
    border: var(--border);
  }
}

@media (min-width: 700px) {
  .smallbar {
    height: 100vh;
    position: fixed;
    background: var(--dark);
    top: 0;
    left: 0;
    bottom: 0;
    width: 52px;
    border-right: var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  #post {
    left: 70px !important;
    top: 20px !important;
  }

  .smallbar img:first-child {
    margin-top: 20px;
  }

  .smallbar img {
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  .tweet:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .tweet:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #sidebar {
    position: relative;
  }

  .container {
    min-width: 555px;
  }

  .comment-box {
    position: fixed;
  }
}

hr {
  border: var(--border);
}

#post {
  position: fixed;
  bottom: 65px;
  right: 20px;
  background: #1d9bf0;
  color: var(--color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  transition: opacity 0.2s ease, bottom 0.3s ease;
}

.attachment,
.attachment1,
.rt-attachment {
  cursor: pointer;
}

.hidden-input {
  display: none;
}

.comment-box {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  max-height: 90vh;
  overflow-y: auto;
  background: var(--dark);
  color: var(--color);
  border: var(--border);
}

.comment-scrollbox textarea {
  border: 1px solid grey;
}

.no-margin {
  margin: 0;
  margin-bottom: 10px;
}

.little-margin {
  margin: 10px 0;
}

svg {
  margin-bottom: -3px;
}

.avatar {
  border-radius: 50%;
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
  min-height: 30px;
  object-fit: cover;
  object-position: center;
}

#userInfo {
  display: flex;
  align-items: center;
}

.load-more-replies {
  margin-top: 15px !important;
}

#postBtn {
  background: #1da1f2;
  color: white;
  margin: 0;
}

#postBtn:hover {
  background: #0d8ddf;
}

#commentTweet {
  margin: 20px 0;
  border-radius: 15px;
  border: var(--border) !important;
}

textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  border: var(--border);
  border-radius: 15px;
  background: var(--dark);
  color: var(--color);
  line-height: 1.5;
}

textarea:focus {
  outline: none;
}

button {
  padding: 7px;
  background: white;
  border-radius: 50px;
  border: none;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #eee;
}

span {
  font-size: 15px;
}

.tweet {
  background: var(--dark);
  padding: 20px 10px;
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

.tweet:last-child {
  border-bottom: var(--border);
}

.tweet:hover {
  background: var(--normal);
}

.retweet {
  background: var(--dark);
  border: var(--border) !important;
  margin: 10px 0;
  border-radius: 15px;
}

.retweet:hover {
  background: var(--light);
}

#commentTweet {
  margin-bottom: 15px;
}

.reply-block p,
.comment-item p,
.tweet p,
#commentTweet p {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.like-btn {
  font-size: 15px;
  margin-right: 6px;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.comment-item {
  border-bottom: var(--border);
  padding: 10px 0;
  position: relative;
}

.comment-item:hover {
  background: var(--normal);
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-box {
  overflow-y: auto;
}

.comment-avatar {
  min-width: 30px;
  max-width: 30px;
  max-height: 30px;
  min-height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.reply-btn {
  display: none;
  font-size: 12px;
  cursor: pointer;
  margin-left: 42px;
  color: #0077ff;
  text-decoration: underline;
}

.comment-item:first-child {
  margin-top: 15px;
}

.reply-block:first-child {
  margin-top: 25px;
}

.reply-box {
  margin-top: 10px;
}

.reply-text {
  width: 100%;
  height: 60px;
  margin-bottom: -7px;
}

.comment-header:not(.reply-block .comment-header) {
  margin-bottom: 13px;
}

.reply-block {
  border-left: 3px solid darkgrey;
  padding-left: 10px;
  margin-top: 13px;
  padding-left: 14px;
}

.comment-scrollbox {
  overflow-y: auto;
}

#commentList {
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 0;
}

.tweet-date,
.comment-date,
.reply-date {
  font-size: 0.8em;
  color: #888;
  margin-top: 4px;
}

.comment-header {
  align-items: center;
}

#retweetText,
#retweetOriginal {
  box-sizing: border-box;
}

#commentInput,
#sendComment {
  margin: 0;
}

#commentInput {
  margin-bottom: 5px;
}

.attachment {
  max-height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: var(--normal);
  margin-bottom: 10px;
}

.rt-attachment {
  max-height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background: var(--normal);
}

.attachment:hover,
.rt-attachment:hover {
  background: var(--light);
}

.attachment img,
.rt-attachment img {
  max-height: 250px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  width: auto;
  display: block;
}

.mediaOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaOverlay.hidden {
  display: none;
}

#overlayContent img,
#overlayContent video {
  height: auto;
  width: auto;
  max-width: 100vw;
  max-height: 100vh;
}

#closeOverlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.flex span {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.close-btn {
  background: none;
  color: var(--color);
}

.no-bg {
  background: none;
  border: 1px solid white;
  color: white;
}

.link {
  background: none;
  color: #1a8cd8;
  padding: 0;
  margin: 10px 0;
}

a,
a:visited {
  color: #1a8cd8;
  text-decoration: none;
}

.close-btn:hover,
.no-bg:hover,
.link:hover {
  background: none;
}

.reply-text {
  margin-bottom: 10px;
}

.comment-box .attachment {
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .overlay {
    z-index: 6;
  }

  .useroverlay {
    z-index: 4;
  }

  #post {
    z-index: 2;
  }

  .smallbar {
    z-index: 7;
  }
}

@media (min-width: 700px) {
  .smallbar {
    z-index: 7;
  }

  .overlay {
    z-index: 6;
  }

  .useroverlay {
    z-index: 4;
  }

  #post {
    z-index: 7;
  }
}

.original-tweet-link {
  cursor: pointer;
}

.clamp-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.read-more {
  color: #1da1f2;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}

.useroverlay.hidden,
.sub-useroverlay.hidden {
  display: none;
}

.sub-useroverlay,
.overlay,
.useroverlay,
.user-box,
.sub-user-box,
.comment-box {
   box-shadow: 0 0 6px -1px rgba(255, 255, 255, 0.25),
              0 0 12px -1px rgba(255, 255, 255, 0.15);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.useroverlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.user-box {
  position: fixed;
  padding: 20px;
  width: 100%;
  max-width: 555px;
  border-radius: 15px;
  height: 100vh;
  overflow-y: auto;
  background: var(--dark);
  color: var(--color);
  position: relative;
}

header {
  position: sticky;
  background: var(--dark);
  z-index: 7;
  padding-bottom: 1px;
  padding-top: 1px;
  top: 0;
  right: 0;
  left: 0;
}

@media (max-width: 700px) {
  .useroverlay .tweet:not(.useroverlay .tweet .retweet) {
    padding: 0 !important;
    padding-bottom: 15px !important;
  }
}

input {
  background: var(--dark);
  padding: 10px;
  border-radius: 10px;
  color: var(--color);
  border: var(--border);
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
}

input:focus {
  outline: none;
}
